{% load static %}

<footer  class="sec-footer">
    <div class="div-footer">
        <div class="page-footer-map">
            <div class="nav-footer-page">
                <ul class="ul-nav-footer">
                    <li class="li-nav-footer"><h5 class="head-nav-footer">Ubicación de tienda</h5></li>
                    <li class="li-nav-footer">Av. Fray A. Alcalde 10</li>
                    <li class="li-nav-footer">44100, Guad., Jal., México</li>
                    <li class="li-nav-footer">info@misitio.com</li>
                    <li class="li-nav-footer">+52-1-33-12345678</li>
                    <li class="li-nav-footer">
                        <div class="icon-share">
                            <a class="link-social" href=""><i class="icon-sh bi bi-facebook"></i></a>
                            <a class="link-social" href=""><i class="icon-sh bi bi-instagram"></i></a>
                            <a class="link-social" href=""><i class="icon-sh bi bi-twitter"></i></a>
                            <a class="link-social" href=""><i class="icon-sh bi bi-youtube"></i></a>
                        </div>
                    </li>
                </ul>
                <ul class="ul-nav-footer">
                    <li class="li-nav-footer"><h5 class="head-nav-footer">Tienda</h5></li>
                    <li class="li-nav-footer"><a class="link-nav" href="{% url 'comprar-todo'%}">Comprar todo</a></li>
                    <li class="li-nav-footer"><a class="link-nav" href="">Computadoras</a></li>
                    <li class="li-nav-footer"><a class="link-nav" href="">Tabletas</a></li>
                    <li class="li-nav-footer"><a class="link-nav" href="">Drones y camaras</a></li>
                    <li class="li-nav-footer"><a class="link-nav" href="">Audio</a></li>
                    <li class="li-nav-footer"><a class="link-nav" href="">Celulares</a></li>
                    <li class="li-nav-footer"><a class="link-nav" href="">T.V. y cine en casa</a></li>
                    <li class="li-nav-footer"><a class="link-nav" href="">Tecnologia portatil</a></li>
                    <li class="li-nav-footer"><a class="link-nav" href="">Oferta</a></li>
                </ul>
                <ul class="ul-nav-footer">
                    <li class="li-nav-footer"><h5 class="head-nav-footer">Atención al cliente</h5></li>
                    <li class="li-nav-footer"><a class="link-nav" href="">Contactos</a></li>
                    <li class="li-nav-footer"><a class="link-nav" href="">Asistencia</a></li>
                    <li class="li-nav-footer"><a class="link-nav" href="">Acerca de</a></li>
                    <li class="li-nav-footer"><a class="link-nav" href="">Empleos</a></li>
                </ul>
                <ul class="ul-nav-footer">
                    <li class="li-nav-footer"><h5 class="head-nav-footer">Politica</h5></li>
                    <li class="li-nav-footer"><a class="link-nav" href="">Envio y devoluciones</a></li>
                    <li class="li-nav-footer"><a class="link-nav" href="">Terminos y condiciones</a></li>
                    <li class="li-nav-footer"><a class="link-nav" href="">Metodos de pago</a></li>
                    <li class="li-nav-footer"><a class="link-nav" href="">FAQ</a></li>
                </ul>
            </div>
        </div>
        <div class="page-footer-check">
            <span class="txt-check">Aceptamos los siguientes métodos de pago</span>
            <ul class="img-div-check">
                <li class="list-check"><img class="img-check" src="{% static 'img/img-metodos-paga/visa.png'%}" alt=""></li>
                <li class="list-check"><img class="img-check" src="{% static 'img/img-metodos-paga/mastercard.png'%}" alt=""></li>
                <li class="list-check"><img class="img-check" src="{% static 'img/img-metodos-paga/american-express.png'%}" alt=""></li>
                <li class="list-check"><img class="img-check" src="{% static 'img/img-metodos-paga/unionpay.png'%}" alt=""></li>
                <li class="list-check"><img class="img-check" src="{% static 'img/img-metodos-paga/jcb.png'%}" alt=""></li>
                <li class="list-check"><img class="img-check" src="{% static 'img/img-metodos-paga/diners-club.png'%}" alt=""></li>
                <li class="list-check"><img class="img-check" src="{% static 'img/img-metodos-paga/discover.png'%}" alt=""></li>
                <li class="list-check"><img class="img-check" src="{% static 'img/img-metodos-paga/paypal.png'%}" alt=""></li>
            </ul>
        </div>
    </div>
    <div class="page-footer-copyright">
        <span class="p-copyright">© 2035 Creado por RevNetx con Dareck</span>
    </div>
</footer>