{% load static %}

<ul class="ul-nav-prd">
    <li class="list-nav">
        <a class="main-nav-prd" href="#">
            <div class="img-prd-nav">
                <img class="img-nav-ref" src="{% static 'img/list-img-nav/laptops.jpg'%}" alt="laptops">
            </div>
            <h5 class="title-nav-prd">Computadoras</h5>
        </a>
    </li>
    <li class="list-nav">
        <a class="main-nav-prd" href="#">
            <div class="img-prd-nav">
                <img class="img-nav-ref" src="{% static 'img/list-img-nav/celulares.jpg'%}" alt="celulares">
            </div>
            <h5 class="title-nav-prd">Celulares</h5>
        </a>
    </li>
    <li class="list-nav">
        <a class="main-nav-prd" href="#">
            <div class="img-prd-nav">
                <img class="img-nav-ref" src="{% static 'img/list-img-nav/drones.png'%}" alt="drones">
            </div>
            <h5 class="title-nav-prd">Drones</h5>
        </a>
    </li>
    <li class="list-nav">
        <a class="main-nav-prd" href="#">
            <div class="img-prd-nav" id="img-offer">
                <img class="img-nav-ref" src="{% static 'img/list-img-nav/oferta.jpg'%}" alt="oferta">
            </div>
            <h5 class="title-nav-prd">Oferta</h5>
        </a>
    </li>
    <li class="list-nav">
        <a class="main-nav-prd" href="#">
            <div class="img-prd-nav">
                <img class="img-nav-ref" src="{% static 'img/list-img-nav/tabletas.jpg'%}" alt="tabletas">
            </div>
            <h5 class="title-nav-prd">Tabletas</h5>
        </a>
    </li>
    <li class="list-nav">
        <a class="main-nav-prd" href="#">
            <div class="img-prd-nav" id="img-sellers">
                <img class="img-nav-ref" src="{% static 'img/list-img-nav/mas-vendidos.png'%}" alt="mas-vendidos">
            </div>
            <h5 class="title-nav-prd">Mas vendidos</h5>
        </a>
    </li>
    <li class="list-nav">
        <a class="main-nav-prd" href="#">
            <div class="img-prd-nav">
                <img class="img-nav-ref" src="{% static 'img/list-img-nav/television.jpg'%}" alt="television">
            </div>
            <h5 class="title-nav-prd">T.V. y mas</h5>
        </a>
    </li>
    <li class="list-nav">
        <a class="main-nav-prd" href="#">
            <div class="img-prd-nav">
                <img class="img-nav-ref" src="{% static 'img/list-img-nav/relojes.jpg'%}" alt="tecnologias">
            </div>
            <h5 class="title-nav-prd">Tecnologias innovadoras</h5>
        </a>
    </li>
    <li class="list-nav">
        <a class="main-nav-prd" href="#">
            <div class="img-prd-nav">
                <img class="img-nav-ref" src="{% static 'img/list-img-nav/bocinas.jpg'%}" alt="bocinas">
            </div>
            <h5 class="title-nav-prd">Bocinas</h5>
        </a>
    </li>
    <li class="list-nav">
        <a class="main-nav-prd" href="#">
            <div class="img-prd-nav">
                <img class="img-nav-ref" src="{% static 'img/list-img-nav/audifonos.jpg'%}" alt="audifonos">
            </div>
            <h5 class="title-nav-prd">Audifonos</h5>
        </a>
    </li>
</ul>