{% extends "layout.html" %}

{% block content %}

<section class="sec-menu-all-blog">
    <div class="zm-site-pag">
        <div class="zm-head">
            <h1 class="zm-thead">El blog de los datos</h1>
        </div>
    </div>
</section>
<section class="sec-blog">
    <div class="pgm-blog">
        <div class="pgm-item-blog" id="pgm-item-1">
            <div class="pgm-itblog">
                <div class="pgm-timebg">
                    <span class="pgm-time" id="pgm-up">1 dic 2022</span>
                    <span class="point-pgm"></span>
                    <span class="pgm-min" id="pgm-mintm">1 min.</span>
                </div>
                <button type="button" class="btn-share" id="sh-blog-1">
                    <i class="bi bi-three-dots-vertical icon-pgm-menu"></i>
                </button>
                <div class="share-blog" id="share-item-1">
                    <button class="btn-share-social" id="open-share-panel">
                        <i class="bi bi-share icon-sh"></i>
                        <span class="txt-share">Compartir entrada</span>
                    </button>
                </div>
            </div>
            <div class="pgm-review" id="pgm-reviem-bg">
                <span class="pgm-title" id="pgm-ty">8 tendencias tecnologias que dominaran este año</span>
                <p class="pgm-text"  id="pgm-txt">Crea un subtítulo para la entrada del blog que resuma dicha publicación en un par de oraciones e invite a tu audiencia..</p>
            </div>
            <span class="pgm-line"></span>
            <div class="pgm-state">
                <div class="pgm-view">
                    <div class="view-blog">
                        <i class="bi bi-eye icon-pgm"></i>
                        <span class="pgm-num" id="txt-vw">0</span>
                    </div>
                    <div class="commt-blog">
                        <i class="bi bi-chat-square icon-pgm"></i>
                        <span class="pgm-num" id="txt-vw">0</span>
                    </div>
                </div>
                <div class="pgm-like">
                    <span class="pgm-num" id="pgm-lk">1</span>
                    <i class="bi bi-heart icon-pgm active-pgm"></i>
                </div>
            </div>
        </div>
        <div class="pgm-item-blog" id="pgm-item-2">
            <div class="pgm-itblog">
                <div class="pgm-timebg">
                    <span class="pgm-time" id="pgm-up">1 dic 2022</span>
                    <span class="point-pgm"></span>
                    <span class="pgm-min" id="pgm-mintm">1 min.</span>
                </div>
                <button type="button" class="btn-share" id="sh-blog-2">
                    <i class="bi bi-three-dots-vertical icon-pgm-menu"></i>
                </button>
                <div class="share-blog" id="share-item-2">
                    <button class="btn-share-social" id="open-share-panel">
                        <i class="bi bi-share icon-sh"></i>
                        <span class="txt-share">Compartir entrada</span>
                    </button>
                </div>
            </div>
            <div class="pgm-review" id="pgm-reviem-bg">
                <span class="pgm-title" id="pgm-ty">8 tendencias tecnologias que dominaran este año</span>
                <p class="pgm-text"  id="pgm-txt">Crea un subtítulo para la entrada del blog que resuma dicha publicación en un par de oraciones e invite a tu audiencia..</p>
            </div>
            <span class="pgm-line"></span>
            <div class="pgm-state">
                <div class="pgm-view">
                    <div class="view-blog">
                        <i class="bi bi-eye icon-pgm"></i>
                        <span class="pgm-num" id="txt-vw">0</span>
                    </div>
                    <div class="commt-blog">
                        <i class="bi bi-chat-square icon-pgm"></i>
                        <span class="pgm-num" id="txt-vw">0</span>
                    </div>
                </div>
                <div class="pgm-like">
                    <span class="pgm-num" id="pgm-lk">1</span>
                    <i class="bi bi-heart icon-pgm active-pgm"></i>
                </div>
            </div>
        </div>
        <div class="pgm-item-blog" id="pgm-item-3">
            <div class="pgm-itblog">
                <div class="pgm-timebg">
                    <span class="pgm-time" id="pgm-up">1 dic 2022</span>
                    <span class="point-pgm"></span>
                    <span class="pgm-min" id="pgm-mintm">1 min.</span>
                </div>
                <button type="button" class="btn-share" id="sh-blog-3">
                    <i class="bi bi-three-dots-vertical icon-pgm-menu"></i>
                </button>
                <div class="share-blog" id="share-item-3">
                    <button class="btn-share-social" id="open-share-panel">
                        <i class="bi bi-share icon-sh"></i>
                        <span class="txt-share">Compartir entrada</span>
                    </button>
                </div>
            </div>
            <div class="pgm-review" id="pgm-reviem-bg">
                <span class="pgm-title" id="pgm-ty">8 tendencias tecnologias que dominaran este año</span>
                <p class="pgm-text"  id="pgm-txt">Crea un subtítulo para la entrada del blog que resuma dicha publicación en un par de oraciones e invite a tu audiencia..</p>
            </div>
            <span class="pgm-line"></span>
            <div class="pgm-state">
                <div class="pgm-view">
                    <div class="view-blog">
                        <i class="bi bi-eye icon-pgm"></i>
                        <span class="pgm-num" id="txt-vw">0</span>
                    </div>
                    <div class="commt-blog">
                        <i class="bi bi-chat-square icon-pgm"></i>
                        <span class="pgm-num" id="txt-vw">0</span>
                    </div>
                </div>
                <div class="pgm-like">
                    <span class="pgm-num" id="pgm-lk">1</span>
                    <i class="bi bi-heart icon-pgm active-pgm"></i>
                </div>
            </div>
        </div>
        <div class="pgm-item-blog" id="pgm-item-4">
            <div class="pgm-itblog">
                <div class="pgm-timebg">
                    <span class="pgm-time" id="pgm-up">1 dic 2022</span>
                    <span class="point-pgm"></span>
                    <span class="pgm-min" id="pgm-mintm">1 min.</span>
                </div>
                <button type="button" class="btn-share" id="sh-blog-4">
                    <i class="bi bi-three-dots-vertical icon-pgm-menu"></i>
                </button>
                <div class="share-blog" id="share-item-4">
                    <button class="btn-share-social" id="open-share-panel">
                        <i class="bi bi-share icon-sh"></i>
                        <span class="txt-share">Compartir entrada</span>
                    </button>
                </div>
            </div>
            <div class="pgm-review" id="pgm-reviem-bg">
                <span class="pgm-title" id="pgm-ty">8 tendencias tecnologias que dominaran este año</span>
                <p class="pgm-text"  id="pgm-txt">Crea un subtítulo para la entrada del blog que resuma dicha publicación en un par de oraciones e invite a tu audiencia..</p>
            </div>
            <span class="pgm-line"></span>
            <div class="pgm-state">
                <div class="pgm-view">
                    <div class="view-blog">
                        <i class="bi bi-eye icon-pgm"></i>
                        <span class="pgm-num" id="txt-vw">0</span>
                    </div>
                    <div class="commt-blog">
                        <i class="bi bi-chat-square icon-pgm"></i>
                        <span class="pgm-num" id="txt-vw">0</span>
                    </div>
                </div>
                <div class="pgm-like">
                    <span class="pgm-num" id="pgm-lk">1</span>
                    <i class="bi bi-heart icon-pgm active-pgm"></i>
                </div>
            </div>
        </div>
        <div class="pgm-item-blog" id="pgm-item-5">
            <div class="pgm-itblog">
                <div class="pgm-timebg">
                    <span class="pgm-time" id="pgm-up">1 dic 2022</span>
                    <span class="point-pgm"></span>
                    <span class="pgm-min" id="pgm-mintm">1 min.</span>
                </div>
                <button type="button" class="btn-share" id="sh-blog-5">
                    <i class="bi bi-three-dots-vertical icon-pgm-menu"></i>
                </button>
                <div class="share-blog" id="share-item-5">
                    <button class="btn-share-social" id="open-share-panel">
                        <i class="bi bi-share icon-sh"></i>
                        <span class="txt-share">Compartir entrada</span>
                    </button>
                </div>
            </div>
            <div class="pgm-review" id="pgm-reviem-bg">
                <span class="pgm-title" id="pgm-ty">8 tendencias tecnologias que dominaran este año</span>
                <p class="pgm-text"  id="pgm-txt">Crea un subtítulo para la entrada del blog que resuma dicha publicación en un par de oraciones e invite a tu audiencia..</p>
            </div>
            <span class="pgm-line"></span>
            <div class="pgm-state">
                <div class="pgm-view">
                    <div class="view-blog">
                        <i class="bi bi-eye icon-pgm"></i>
                        <span class="pgm-num" id="txt-vw">0</span>
                    </div>
                    <div class="commt-blog">
                        <i class="bi bi-chat-square icon-pgm"></i>
                        <span class="pgm-num" id="txt-vw">0</span>
                    </div>
                </div>
                <div class="pgm-like">
                    <span class="pgm-num" id="pgm-lk">1</span>
                    <i class="bi bi-heart icon-pgm active-pgm"></i>
                </div>
            </div>
        </div>
        <div class="pgm-item-blog" id="pgm-item-6">
            <div class="pgm-itblog">
                <div class="pgm-timebg">
                    <span class="pgm-time" id="pgm-up">1 dic 2022</span>
                    <span class="point-pgm"></span>
                    <span class="pgm-min" id="pgm-mintm">1 min.</span>
                </div>
                <button type="button" class="btn-share" id="sh-blog-6">
                    <i class="bi bi-three-dots-vertical icon-pgm-menu"></i>
                </button>
                <div class="share-blog" id="share-item-6">
                    <button class="btn-share-social" id="open-share-panel">
                        <i class="bi bi-share icon-sh"></i>
                        <span class="txt-share">Compartir entrada</span>
                    </button>
                </div>
            </div>
            <div class="pgm-review" id="pgm-reviem-bg">
                <span class="pgm-title" id="pgm-ty">8 tendencias tecnologias que dominaran este año</span>
                <p class="pgm-text"  id="pgm-txt">Crea un subtítulo para la entrada del blog que resuma dicha publicación en un par de oraciones e invite a tu audiencia..</p>
            </div>
            <span class="pgm-line"></span>
            <div class="pgm-state">
                <div class="pgm-view">
                    <div class="view-blog">
                        <i class="bi bi-eye icon-pgm"></i>
                        <span class="pgm-num" id="txt-vw">0</span>
                    </div>
                    <div class="commt-blog">
                        <i class="bi bi-chat-square icon-pgm"></i>
                        <span class="pgm-num" id="txt-vw">0</span>
                    </div>
                </div>
                <div class="pgm-like">
                    <span class="pgm-num" id="pgm-lk">1</span>
                    <i class="bi bi-heart icon-pgm active-pgm"></i>
                </div>
            </div>
        </div>
        <div class="pgm-item-blog" id="pgm-item-7">
            <div class="pgm-itblog">
                <div class="pgm-timebg">
                    <span class="pgm-time" id="pgm-up">1 dic 2022</span>
                    <span class="point-pgm"></span>
                    <span class="pgm-min" id="pgm-mintm">1 min.</span>
                </div>
                <button type="button" class="btn-share" id="sh-blog-7">
                    <i class="bi bi-three-dots-vertical icon-pgm-menu"></i>
                </button>
                <div class="share-blog" id="share-item-7">
                    <button class="btn-share-social" id="open-share-panel">
                        <i class="bi bi-share icon-sh"></i>
                        <span class="txt-share">Compartir entrada</span>
                    </button>
                </div>
            </div>
            <div class="pgm-review" id="pgm-reviem-bg">
                <span class="pgm-title" id="pgm-ty">8 tendencias tecnologias que dominaran este año</span>
                <p class="pgm-text"  id="pgm-txt">Crea un subtítulo para la entrada del blog que resuma dicha publicación en un par de oraciones e invite a tu audiencia..</p>
            </div>
            <span class="pgm-line"></span>
            <div class="pgm-state">
                <div class="pgm-view">
                    <div class="view-blog">
                        <i class="bi bi-eye icon-pgm"></i>
                        <span class="pgm-num" id="txt-vw">0</span>
                    </div>
                    <div class="commt-blog">
                        <i class="bi bi-chat-square icon-pgm"></i>
                        <span class="pgm-num" id="txt-vw">0</span>
                    </div>
                </div>
                <div class="pgm-like">
                    <span class="pgm-num" id="pgm-lk">1</span>
                    <i class="bi bi-heart icon-pgm active-pgm"></i>
                </div>
            </div>
        </div>
        <div class="pgm-item-blog" id="pgm-item-8">
            <div class="pgm-itblog">
                <div class="pgm-timebg">
                    <span class="pgm-time" id="pgm-up">1 dic 2022</span>
                    <span class="point-pgm"></span>
                    <span class="pgm-min" id="pgm-mintm">1 min.</span>
                </div>
                <button type="button" class="btn-share" id="sh-blog-8">
                    <i class="bi bi-three-dots-vertical icon-pgm-menu"></i>
                </button>
                <div class="share-blog" id="share-item-8">
                    <button class="btn-share-social" id="open-share-panel">
                        <i class="bi bi-share icon-sh"></i>
                        <span class="txt-share">Compartir entrada</span>
                    </button>
                </div>
            </div>
            <div class="pgm-review" id="pgm-reviem-bg">
                <span class="pgm-title" id="pgm-ty">8 tendencias tecnologias que dominaran este año</span>
                <p class="pgm-text"  id="pgm-txt">Crea un subtítulo para la entrada del blog que resuma dicha publicación en un par de oraciones e invite a tu audiencia..</p>
            </div>
            <span class="pgm-line"></span>
            <div class="pgm-state">
                <div class="pgm-view">
                    <div class="view-blog">
                        <i class="bi bi-eye icon-pgm"></i>
                        <span class="pgm-num" id="txt-vw">0</span>
                    </div>
                    <div class="commt-blog">
                        <i class="bi bi-chat-square icon-pgm"></i>
                        <span class="pgm-num" id="txt-vw">0</span>
                    </div>
                </div>
                <div class="pgm-like">
                    <span class="pgm-num" id="pgm-lk">1</span>
                    <i class="bi bi-heart icon-pgm active-pgm"></i>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="share-news-panel">
    <div class="btn-hide-sh">
        <button type="button" class="btn-close-sh" id="close-sh-social" aria-label="Close">
            <i class="bi bi-x-lg"></i>
        </button>
    </div>
    <div class="sh-social-div">
        <span class="sh-title">Compartir entrada</span>
        <div class="sh-social-icon">
            <img id="sh-facebook" src="../static/img/facebook-icon.png" alt="facebook-logo">
            <img id="sh-twitter" src="../static/img/twitter-icon.png" alt="twitter-logo">
            <img id="sh-linkedin" src="../static/img/linkedin-icon.png" alt="linkedin-logo">
            <button type="button" class="btn-link" id="open-link">
                <img src="../static/img/link-circle-fill.png" alt="link">
            </button>
        </div>
    </div>
    <div class="sh-link-div">
        <span class="sh-title">Compartir enlace</span>
        <input class="put-link" type="text" id="link-blog" value="https://example.com">
        <div class="btn-links">
            <button class="btn-cancel" id="btn-cln">
                <span class="txt-cancel">Cancelar</span>
            </button>
            <button class="btn-copy-lk" id="copy-link">
                <span class="txt-link">Copiar Enlance</span>
            </button>
        </div>
    </div>
</div>
{% endblock %}