{% extends "layout.html" %}

{% block content %}
<section class="sec-first">
    <div class="rm-first">
        <div class="rm-head">
            <h1 class="rm-thead">El nuevo estándar en análisis de datos</h1>
        </div>
        <div class="rm-context">
            <span class="rm-tdcontext">Usa los datos para una visión de 360 grados de tu negocio</span>
        </div>
        <div class="rm-btn">
            <button class="btn-pag-info">
                <span class="txt-full">Mas informacion</span>
            </button>
        </div>
    </div>
</section>
<section class="sec-statistics">
    <div class="st-padded">
        <div class="st-part-main">
            <h3 class="st-title">Haz que tus datos te lleven a un nivel superior</h3>
            <p class="st-pald">Párrafo. Haz clic aquí para agregar tu propio texto y editar. Es fácil. Haz clic en "Editar texto" o doble clic aquí para agregar tu contenido y cambiar la fuente.</p>
        </div>
        <div class="st-part-table">
            <div id="st-part-1" class="st-part-td">
                <div class="st-main">
                    <i class="bi bi-cloud-arrow-up icon-st"></i>
                    <h5 class="st-td-title">Modernización analítica en la nube</h5>
                    <p class="st-td-parrafo">Párrafo. Haz clic aquí para agregar tu texto y editar. Permite que tus usuarios te conozcan.</p>
                    <div class="deffline"></div>
                </div>
            </div>
            <div id="st-part-2" class="st-part-td">
                <div class="st-main">
                    <i class="bi bi-database-fill-check icon-st"></i>
                    <h5 class="st-td-title">Versatilidad de aplicación</h5>
                    <p class="st-td-parrafo">Párrafo. Haz clic aquí para agregar tu texto y editar. Permite que tus usuarios te conozcan.</p>
                    <div class="deffline"></div>
                </div>
            </div>
            <div id="st-part-3" class="st-part-td">
                <div class="st-main">
                    <i class="bi bi-box icon-st"></i>
                    <h5 class="st-td-title">Aceleración de la ciencia de datos</h5>
                    <p class="st-td-parrafo">Párrafo. Haz clic aquí para agregar tu texto y editar. Permite que tus usuarios te conozcan.</p>
                    <div class="deffline"></div>
                </div>
            </div>
            <div id="st-part-4" class="st-part-td">
                <div class="st-main">
                    <i class="bi bi-person-lines-fill icon-st"></i>
                    <h5 class="st-td-title">Servicio completo de CX</h5>
                    <p class="st-td-parrafo">Párrafo. Haz clic aquí para agregar tu texto y editar. Permite que tus usuarios te conozcan.</p>
                    <div class="deffline"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sec-sdiv">
</section>
<section class="sec-llmup">
    <div class="div-llmup">
        <div class="head-llmup">
            <h3 class="title-llmup">Velocidad sin precedentes. Fiabilidad impecable.</h3>
        </div>
        <div class="tdcontext-llmup">
            <div class="llump-prf">
                <p>Párrafo. Haz clic para editar y agregar tu propio texto. Es fácil. Haz clic en "Editar texto" o doble clic aquí para agregar tu contenido y cambiar la fuente. Puedes arrastrar y soltar este texto donde quieras en tu página. En este espacio puedes contar tu historia y permitir a los usuarios saber más sobre ti.</p>
                <br>
                <p>Este es un gran espacio para escribir un texto largo sobre tu empresa y servicios. Puedes usar este espacio para entrar en más de detalle sobre tu empresa. Habla de tu equipo y los servicios que ofreces. Cuenta a los visitantes la historia de cómo se te ocurrió la idea de tu negocio y qué te diferencia de tus competidores. Haz que tu empresa se destaque y muestra a los visitantes quién eres.</p>
            </div>
            <div class="div-btn">
                <button class="btn-pag-info">
                    <span class="txt-full">Mas informacion</span>
                </button>
            </div>
        </div>
    </div>
</section>
<section class="sec-reference">
    <div class="dm-reference">
        <div class="dm-head">
            <h3 class="dm-title">Estamos orgullosos de nuestros números</h3>
        </div>
        <div class="dm-datas">
            <div class="item-dm-data" id="dm-item-1">
                <span class="item-dm-num">15</span>
                <p class="item-dm-p">Años de experiencia</p>
                <div class="dm-line-bt"></div>
            </div>
            <div class="item-dm-data" id="dm-item-2">
                <span class="item-dm-num">10K</span>
                <p class="item-dm-p">Socios comerciales</p>
                <div class="dm-line-bt"></div>
            </div>
            <div class="item-dm-data" id="dm-item-3">
                <span class="item-dm-num">25M</span>
                <p class="item-dm-p">Productos instalados</p>
                <div class="dm-line-bt"></div>
            </div>
            <div class="item-dm-data" id="dm-item-4">
                <span class="item-dm-num">22</span>
                <p class="item-dm-p">Países del mundo</p>
                <div class="dm-line-bt"></div>
            </div>
            <div class="item-dm-data" id="dm-item-5">
                <span class="item-dm-num">5</span>
                <p class="item-dm-p">Premios del sector</p>
                <div class="dm-line-bt"></div>
            </div>
        </div>
        <div class="dm-font">
        </div>
    </div>
</section>
<section class="sec-partners">
    <div class="rtz-partners">
        <div class="rtz-partners-item" id="rt-item-1">
            <h2 class="title-rtz">Nuestros socios</h2>
        </div>
        <div class="rtz-partners-item" id="rt-item-2">
            <img id="img-partners" src="../static/img/partner-1.PNG" alt="">
        </div>
        <div class="rtz-partners-item" id="rt-item-3">
            <img id="img-partners" src="../static/img/partner-2.PNG" alt="">
        </div>
        <div class="rtz-partners-item" id="rt-item-4">
            <img id="img-partners" src="../static/img/partner-3.PNG" alt="">
        </div>
        <div class="rtz-partners-item" id="rt-item-5">
            <img id="img-partners" src="../static/img/partner-4.PNG" alt="">
        </div>
        <div class="rtz-partners-item rtz-font" id="rt-item-6">
            <h2 class="rtz-title">¿Estás listo para acelerar tu negocio?</h2>
        </div>
        <div class="rtz-partners-item rtz-font" id="rt-item-7">
            <p class="pp-rtz">Párrafo. Haz clic aquí para agregar tu propio texto y editar. Es fácil. Haz clic en "Editar texto" o doble clic aquí para agregar tu contenido y cambiar la fuente.</p>
            <button class="btn-pag-ready"><span class="txt-full">Empezar</span></button>
        </div>
    </div>
</section>
{% endblock %}