{% extends "layout.html" %}

{% block content %}

<section class="sec-menu-all-privacy">
    <div class="zm-site-pag">
        <div class="zm-head">
            <h1 class="zm-thead">Política de privacidad</h1>
        </div>
        <div class="zm-context">
            <p class="zm-tdcontext">La política de privacidad es una declaración que divulga una parte o la totalidad de las prácticas de recopilación, uso, divulgación y gestión de datos de los usuarios y clientes de un sitio web. Cumple con el requisito legal de proteger la privacidad de un usuario o cliente.
    
                Cada país se rige por sus propias leyes, con diferentes requisitos en cada jurisdicción respecto al uso de políticas de privacidad. Asegúrate de cumplir con la legislación aplicable a tus actividades y ubicación.</p>
            <p class="zm-tdcontext">
                En general, ¿qué debe incluir una política de privacidad?
            </p>
            <ol class="zm-list">
                <li class="zm-ul-list">¿Qué tipo de información recopilas?</li>
                <li class="zm-ul-list">¿Cómo recopilas la información?</li>
                <li class="zm-ul-list">¿Por qué recopilas esa información personal?</li>
                <li class="zm-ul-list">¿Cómo almacenas, utilizas, compartes y divulgas la información personal de los visitantes de tu sitio web?</li>
                <li class="zm-ul-list">¿Qué comunicación tienes con los visitantes de tu sitio web (en caso de tenerla)?</li>
                <li class="zm-ul-list">¿Tu servicio se dirige a menores y recopila información sobre ellos?</li>
                <li class="zm-ul-list">Actualizaciones de la política de privacidad</li>
                <li class="zm-ul-list">Información de contacto</li>
            </ol>
            <p class="zm-tdcontext">
                Puedes consultar este artículo del Centro de Ayuda para recibir más información sobre cómo elaborar una política de privacidad.
            </p>
            <p class="zm-tdcontext">
                Las explicaciones e información que se brindan aquí son solo explicaciones, información y ejemplos generales. No debes considerar este artículo como asesoramiento legal ni como recomendación sobre lo que realmente debes hacer. Te recomendamos que busques asesoría legal para entender y elaborar tu política de privacidad.
            </p>
        </div>
    </div>
</section>

{% endblock %}