{% extends "layout.html" %}

{% block content %}

<section class="sec-menu-all-programs">
    <div class="zm-site-pag">
        <div class="zm-head">
            <h1 class="zm-thead">Grupos de análisis de datos</h1>
        </div>
        <div class="zm-context">
            <span class="zm-tdcontext">Párrafo. Haz clic aquí para agregar tu propio texto y editar.</span>
        </div>
    </div>
</section>
<section class="sec-programs">
    <div class="rmz-programs">
        <div class="rmz-item" id="rmz-item1">
            <div class="rmz-icon-td">
                <i class="bi bi-cloud-arrow-up icon-rmz"></i>
            </div>
            <div class="rmz-tpanel">
                <a class="title-rmz" id="link-1-rmz" href="#">Analisis de datos principiantes</a>
                <span class="long-rmz">2 semanas</span>
                <span class="line-rmz"></span>
                <span class="price-rmz">$1,600.00</span>
                <button class="btn-join btn-pag-ready-join"><span class="txt-full">Unirse</span></button>
            </div>
        </div>
        <div class="rmz-item" id="rmz-item2">
            <div class="rmz-icon-td">
                <i class="bi bi-database-fill-check icon-rmz"></i>
            </div>
            <div class="rmz-tpanel">
                <a class="title-rmz" id="link-2-rmz" href="#">Desiciones basadas en datos</a>
                <span class="long-rmz">4 semanas</span>
                <span class="line-rmz"></span>
                <span class="price-rmz">$2,500.00</span>
                <button class="btn-join btn-pag-ready-join"><span class="txt-full">Unirse</span></button>
            </div>
        </div>
        <div class="rmz-item" id="rmz-item3">
            <div class="rmz-icon-td">
                <i class="bi bi-person-lines-fill icon-rmz"></i>
            </div>
            <div class="rmz-tpanel">
                <a class="title-rmz" id="link-3-rmz" href="#">Herramienta de analitica</a>
                <span class="long-rmz">8 semanas</span>
                <span class="line-rmz"></span>
                <span class="price-rmz">$3,000.00</span>
                <button class="btn-join btn-pag-ready-join"><span class="txt-full">Unirse</span></button>
            </div>
        </div>
    </div>
</section>
{% endblock %}