{% extends "layout.html" %}

{% block content %}

<section class="sec-menu-all-solutions">
    <div class="zm-site-pag">
        <div class="zm-head">
            <h1 class="zm-thead">Entra a la nueva era
                del análisis acelerado</h1>
        </div>
        <div class="zm-context">
            <span class="zm-tdcontext">Nuestros servicios</span>
        </div>
    </div>
</section>
<section class="sec-itsolut">
    <div class="hk-itsolut">
        <div class="hk-part-icon" id="hk-item-1">
            <i class="bi bi-cloud-arrow-up icon-hk"></i>
        </div>
        <div class="hk-part-item" id="hk-item-2">
            <h5 class="title-hk">
                Modernización analítica de la nube</h5>
            <p class="p-hk">Párrafo. Haz clic aquí para agregar tu propio texto y editarlo. Es fácil. Haz clic en "Editar texto" o doble clic aquí para agregar tu contenido y cambiar la fuente. En este espacio puedes contar tu historia y permitir que los usuarios sepan más sobre ti.</p>
        </div>

        <div class="hk-part-icon" id="hk-item-3">
            <i class="bi bi-database-fill-check icon-hk-dem"></i>
        </div>
        <div class="hk-part-item" id="hk-item-4">
            <h5 class="title-hk">
                Modernización analítica de la nube</h5>
            <p class="p-hk">Párrafo. Haz clic aquí para agregar tu propio texto y editarlo. Es fácil. Haz clic en "Editar texto" o doble clic aquí para agregar tu contenido y cambiar la fuente. En este espacio puedes contar tu historia y permitir que los usuarios sepan más sobre ti.</p>
        </div>
        
        <div class="hk-part-icon" id="hk-item-5">
            <i class="bi bi-box icon-hk"></i>
        </div>
        <div class="hk-part-item" id="hk-item-6">
            <h5 class="title-hk">
                Modernización analítica de la nube</h5>
            <p class="p-hk">Párrafo. Haz clic aquí para agregar tu propio texto y editarlo. Es fácil. Haz clic en "Editar texto" o doble clic aquí para agregar tu contenido y cambiar la fuente. En este espacio puedes contar tu historia y permitir que los usuarios sepan más sobre ti.</p>
        </div>

        <div class="hk-part-icon" id="hk-item-7">
            <i class="bi bi-person-lines-fill icon-hk-dem"></i>
        </div>
        <div class="hk-part-item" id="hk-item-8">
            <h5 class="title-hk">
                Modernización analítica de la nube</h5>
            <p class="p-hk">Párrafo. Haz clic aquí para agregar tu propio texto y editarlo. Es fácil. Haz clic en "Editar texto" o doble clic aquí para agregar tu contenido y cambiar la fuente. En este espacio puedes contar tu historia y permitir que los usuarios sepan más sobre ti.</p>
        </div>
    </div>
    <div class="rv-main-fix">
        <div class="rv-head-fix" id="rv-item1">
            <h2 class="title-rv">
                Nos integramos en tu ecosistema
            </h2>
        </div>
        <div class="rv-txt-fix" id="rv-item2">
            <p class="pg-rv">
                Párrafo. Haz clic aquí para agregar tu propio texto y editarlo. Es fácil. Haz clic en "Editar texto" o doble clic aquí para agregar tu contenido y cambiar la fuente. En este espacio puedes contar tu historia y permitir que los usuarios sepan más sobre ti.
            </p>
        </div>
    </div>
</section>

{% endblock %}