{% extends "layout.html" %}

{% block content %}

<section class="sec-menu-all-vision">
    <div class="zm-site-pag">
        <div class="zm-head">
            <h1 class="zm-thead">Nuestra misión</h1>
        </div>
        <div class="zm-context">
            <span class="zm-tdcontext">Párrafo. Haz clic aquí para agregar tu propio texto y editarlo. Es fácil. Haz clic en "Editar texto" o doble clic aquí para agregar tu contenido y cambiar la fuente. En este espacio puedes contar tu historia y permitir que los usuarios sepan más sobre ti.</span>
        </div>
    </div>
</section>
<section class="sec-vision">
    <div class="lm-vision">
        <div class="lm-part-head" id="lm-part1">
            <h3 class="title-lm">Nosotros</h3>
        </div>
        <div class="lm-part-item" id="lm-part2">
            <p class="lm-pg">Párrafo. Haz clic para editar y agregar tu propio texto. Es fácil. Haz clic en "Editar texto" o doble clic aquí para agregar tu contenido y cambiar la fuente. Puedes arrastrar y soltar este texto donde quieras en tu página. En este espacio puedes contar tu historia y permitir a los usuarios saber más sobre ti.</p>
            <p class="lm-pg">Este es un gran espacio para escribir un texto largo sobre tu empresa y servicios. Puedes usar este espacio para entrar en más de detalle sobre tu empresa. Habla de tu equipo y los servicios que ofreces. Cuenta a los visitantes la historia de cómo se te ocurrió la idea de tu negocio y qué te diferencia de tus competidores. Haz que tu empresa se destaque y muestra a los visitantes quién eres.</p>
        </div>
        <div class="lm-part-item" id="lm-part3">
            <p class="lm-pg">Párrafo. Haz clic para editar y agregar tu propio texto. Es fácil. Haz clic en "Editar texto" o doble clic aquí para agregar tu contenido y cambiar la fuente. Puedes arrastrar y soltar este texto donde quieras en tu página. En este espacio puedes contar tu historia y permitir a los usuarios saber más sobre ti.</p>
            <p class="lm-pg">Este es un gran espacio para escribir un texto largo sobre tu empresa y servicios. Puedes usar este espacio para entrar en más de detalle sobre tu empresa. Habla de tu equipo y los servicios que ofreces. Cuenta a los visitantes la historia de cómo se te ocurrió la idea de tu negocio y qué te diferencia de tus competidores. Haz que tu empresa se destaque y muestra a los visitantes quién eres.</p>
        </div>
        <div class="lm-part-head" id="lm-part4">
            <h3 class="title-lm">Liderazgo con experiencia</h3>
        </div>
    </div>
</section>
{% endblock %}