

@mixin btn-base{
    padding: 1.2rem 3.4rem;
    font-size: 1rem;
}

@mixin btn-sm-full{
    padding: 1rem 2rem;
    font-size: 0.75rem;
}

$color-main: #9E3FFD;
$color-global: #16163F;

.btn-idx{
    @include btn-sm-full();
    text-decoration: none;
    border: none;
    border-radius: 2rem;
    display: block;
    background-color: $color-main;
    cursor: pointer;
    .txt-in{
        font-size: 1rem;
        color: white;
        text-align: center;
    }
    &:hover{
        transition: ease 0.40s;
        background-color: rgb(18, 18, 78);
    }
}

// MENU

.navs{
    background-color: white;
    position: sticky;
    width: 100%;
    z-index: 2;
    .nav-state{
        padding: 0.8rem;
        display: flex;
        flex-wrap:nowrap;
        justify-content:space-between;
        align-items: center;
        text-align: center;
        height: auto;
        .logo{
            margin-left: 2rem;
            h1{
                font-size: 1.5rem;
                font-weight: 600;
                margin: 0;
            }
        }
        .nv-ul{
            display: flex;
            flex-wrap: nowrap;
            list-style: none;
            padding-left: 0;
            margin: 0;
            .nv-li{
                a{
                    margin: 1rem;
                    font-size: 1.1rem;
                    color: $color-global;
                    font-weight: 100;
                    &:hover{
                        color: $color-main;
                        transition: ease 0.40s;
                    }
                    &:focus{
                        color: $color-main;
                    }
                }
            }
        }
        .fbtn{
            margin-right: 2rem;
        }
    }
}

//Services
.services{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.4rem;
    .tb-service{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            width: 11rem;
            height: 7rem;
        }
        h6{
            font-size: 0.7rem;
            font-weight: 400;
        }
        p{
            font-weight: 200;
            font-size: 0.8rem;
            width: 15rem;
            text-align: center;
            margin: 0;
        }
    }
}