@use "components";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;500;700;900&display=swap');


h1,h2,h3,h4,h5,h6,p,a{
    font-family: 'Noto Sans JP', sans-serif;
}
a{
    text-decoration: none;
}



.sec-principal{
    background-image: url(../img/Fondo-de-pantalla.png);
    background-size:cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    padding-top: 5rem;
    padding-bottom: 12rem;
}

.dev-content{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left:4.2rem;
    padding-bottom: 3rem;
    .head-mv{
        width: 30%;
        h1{
            color: components.$color-global;
            font-size: 3.8rem;
            font-weight: 700;
        }
    }
    .description-mv{
        width: 20%;
        font-weight: 200;
    }
    .btn-mv{
        padding-bottom: 1rem;
    }
}

.sec-services{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4.4rem;
    .head-services{
        margin-top: 4.4rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 4rem;
        a{
            letter-spacing: 1px;
            margin-bottom: 1rem;
            font-size: 0.7rem;
            font-weight: 400;
            color: components.$color-main;
        }
        h2{
            font: normal normal normal 36px/1.4em,'work sans',sans-serif;
            letter-spacing: -0.01em;
            font-weight: 700;
            font-size: 1.5rem;
            width: 15rem;
            line-height: 1.3em;
            color: components.$color-global;
        }
    }
}
.sec-banner{
    width: 100%;
    background-color: rgb(18, 18, 51);
    height: auto;
    color: white;
    .zt-banner{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4rem;
        .zt-head{
            h3{
                font-size: 1.5rem;
            }
        }
        .zt-body{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            .zt-list{
                display: flex;
                flex-direction: column;
                margin: 1rem;
                align-items: center;
                h3{
                    margin: 0;
                    font-size: 3rem;
                    font-weight: 700;
                }
                p{
                    font-size: 0.7rem;
                    margin: 0;
                }
            }
            .zt-separator{
                margin: 2rem;
                font-size: 0.3rem;
            }
        }
    }
}
.sec-about{
    background-image: url(../img/bander-fond.png);
    background-size:cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: auto;
    .dv-about{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 50%;
        background-color: white;
        padding: 3.5rem 10rem 3.5rem 10rem;
        .xv-reference{
            span{
                font-size: 0.8rem;
                text-transform:uppercase;
                color: components.$color-main;
                font-weight: 500;
            }
        }
        .xv-head{
            width: 70%;
            h2{
                padding-top: 1rem;
                padding-bottom: 1rem;
                margin: 0;
                font-size: 1.5rem;
                font-weight: 700;
                color: components.$color-global;
            }
        }
        .xv-body{
            margin-top: 1rem;
            p{
                text-align: left;
                width: 80%;
                letter-spacing: 0.1rem;
                margin: 0;
                font-size: 0.7rem;
                font-weight: 300;
            }
        }
    }
}
//Seccion del slide
.sec-slide{
    background-color: #9E3FFD;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding-top: 3.2rem;
}

.carousel-indicators{
    .btn-slide{
        background-color: transparent !important;
        text-indent: 0;
        width: 0.5rem;
        i{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.2rem;
            color: white;
        }
    }
}

.carousel-control-next, .carousel-control-prev{
    display: none;
}

.title-more{
    display: flex;
    justify-content: center;
    align-items: center;
    h5{
        color: white;
        font-weight: 500;
        font-size: 0.7rem;
        letter-spacing: 0.1rem;
    }
    margin-bottom: 1rem;
}


.sec-more{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 2rem;
    color: white;
    .text-more{
        font-size: 2.1rem;
        font-weight: 500;
    }
    .people-txt{
        margin-top: 2rem;
        margin-bottom: 0;
        font-size: 0.8rem;
        font-weight: 400;
    }
    span{
        font-weight: 100;
        font-size: 0.8rem;
        margin-bottom: 2.3rem;
    }
}
.move-carrusel{
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    .carousel-item{
        transition: transform 1s ease, opacity .5s ease-out;
    }
}
.carousel-inner{
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;

}

//Seccion clientes
.sec-clientes{
    background-color: #F8F0FF;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 1.1rem;
    .head-clients{
        padding-bottom: 1.7rem;
        h5{
            font-size: 0.6rem;
            letter-spacing: 0.1rem;
            color: components.$color-global;
        }
    }
    .list-clients{
        width: 100%;
        .ul-list-clts{
            padding-left: 0;
            display: flex;
            justify-content: space-around;
            list-style:none;
        }
    }
}

//Seccion Contact
.sec-contact{
    background-image: url(../img/contact-font.png);
    background-size:cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: auto;
    .dv-contact{
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding-top: 2rem;
        padding-bottom: 3.5rem;
        .dv1-contact{
            padding: 2rem 2rem 2rem 2rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            span{
                font-size: 0.8rem;
                text-transform:uppercase;
                color: components.$color-main;
                font-weight: 500;
            }
            h4{
                font-size: 1.4rem;
                font-weight: 500;
                color: components.$color-global;
            }
            .description-contact{
                p{
                    margin: 0 0 0.1rem 0;
                    font-size: 0.8rem;
                    font-weight: 100;
                }
            }
            .pd-social{
                padding-top: 1rem;
            }
        }
        .dv2-form{
            padding: 4.6rem 2rem 2rem 11rem;
            display: grid;
            grid-template-columns: repeat(2, 9rem);
            grid-gap: 10px;
            grid-auto-rows: minmax(50px, auto);
            .lb-form{
                font-size: 0.6rem;
                margin: 0rem;
                font-weight: 100;
                color: components.$color-global;
            }
            .tb-form{
                .fl-input{
                    width: 100%;
                    position: relative;
                    input{
                        outline: none;
                        text-align: left;
                        color: black;
                        border: 1px solid black;
                        border-top:0;
                        border-right:0;
                        border-left:0;
                        font-size: 0.7rem;
                        padding-bottom: 0.4rem;
                        width: 8.6rem;
                        &:focus{
                            transition: ease 0.20s;
                            background-color: transparent;
                            border: 1px solid components.$color-main;
                            border-top:0;
                            border-right:0;
                            border-left:0;
                        }
                    }
                    
                    .text-ms{
                        outline: none;
                        text-align: left;
                        color: black;
                        background-color: transparent;
                        border: 1px solid rgb(0, 0, 0);
                        border-top:0;
                        border-right:0;
                        border-left:0;
                        height: 3rem;
                        font-size: 0.7rem;
                        width: 18.2rem;
                        resize: none;
                        &:focus{
                            transition: ease 0.20s;
                            background-color: transparent;
                            border: 1px solid components.$color-main;
                            border-top:0;
                            border-right:0;
                            border-left:0;
                        }
                    }
                }
                .fl-submit{
                    margin-top: 0.9rem;
                    #btn-submit{
                        color: white;
                        background-color: components.$color-main;
                        border: none;
                        border-radius: 2rem;
                        padding: 0.5rem 1.8rem 0.5rem 1.8rem;
                        font-size: 0.75rem;
                        font-weight: 400;
                        &:hover{
                            background: components.$color-global;
                            transition: ease 0.45s;
                        }
                    }
                }
            }
            #tbd-1{
                grid-column: 1;
                grid-row: 1;
            }
            #tbd-2{
                grid-column: 2;
                grid-row: 1;
            }
            #tbd-3{
                grid-column: 1;
                grid-row: 2;
                .fl-input{
                    input{
                        width: 18.2rem;
                    }
                }
            }
            #tbd-4{
                grid-column: 1;
                grid-row: 3;
            }
            #tbd-5{
                grid-column: 1;
                grid-row: 4;
            }
        }
        
    }
}
// seccion de geolocalizacion

.sec-geolocation{
    -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
    -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
    box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
    width: 100%;
}
#map{
    width: 100%;
    height: 240px;
}

//Seccion footer
.sec-footer{
    background-color: #faf6fd;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .footer-reserved{
        padding-bottom:3.3rem;
        span{
            font-size: 0.6rem;
            font-weight: 100;
            color: components.$color-global;
        }
    }
}
