<section class="sec-help">
    <div class="div-help">
        <div class="inside-content-help">
            <div class="help-body">
                <h3 class="title-help">¿Buscas ayuda? Ve a la página de Ayuda</h3>
                <p class="p-help">Párrafo. Haz clic aquí para agregar tu texto y editar. Permite que tus usuarios te conozcan.</p>
                <div class="div-help-btn">
                    <button class="btn-help" href="#">
                        <span class="txt-btn">ir al Centro de ayuda</span>
                    </button>
                </div>
            </div>
            <div class="help-figure-3"></div>
            <div class="img-body-help">
            </div>
        </div>
    </div>
</section>