{% extends "./layout/layout.html" %}
{% block content %}

<section class="sec-politic-space">
    <div class="div-space-plc">
        <div class="div-plc-part">
            <h1 class="plc-title-tm">Política de privacidad</h1>
        </div>
    </div>
</section>
<section class="sec-descript-mk">
    <div class="div-mk-main">
        <p class="mk-paragraph">La política de privacidad es una declaración que divulga una parte o la totalidad de las prácticas de recopilación, uso, divulgación y gestión de datos de los usuarios y clientes de un sitio web. Cumple con el requisito legal de proteger la privacidad de un usuario o cliente.
        </p>
        <p class="mk-paragraph">Cada país se rige por sus propias leyes, con diferentes requisitos en cada jurisdicción respecto al uso de políticas de privacidad. Asegúrate de cumplir con la legislación aplicable a tus actividades y ubicación.
        </p>
        <span class="span-mk">En general, ¿qué debe incluir una política de privacidad?</span>
        <ol class="ol-mk-main">
            <li class="li-mk-item">¿Qué tipo de información recopilas?</li>
            <li class="li-mk-item">¿Cómo recopilas la información?</li>
            <li class="li-mk-item">¿Por qué recopilas esa información personal?</li>
            <li class="li-mk-item">¿Cómo almacenas, utilizas, compartes y divulgas la información personal de los visitantes de tu sitio web?</li>
            <li class="li-mk-item">¿Qué comunicación tienes con los visitantes de tu sitio web (en caso de tenerla)?</li>
            <li class="li-mk-item">¿Tu servicio se dirige a menores y recopila información sobre ellos?</li>
            <li class="li-mk-item">Actualizaciones de la política de privacidad</li>
            <li class="li-mk-item">Información de contacto</li>
        </ol>
        <span class="span-mk">Puedes consultar este <a class="mk-link" href="#">artículo de Centro de Ayuda</a> para recibir más información sobre cómo elaborar una política de privacidad.</span>
    </div>
</section>
<section class="sec-opt-main">
    <div class="div-opt-main">
        <p class="opt-paragraph">Las explicaciones e información que se brindan aquí son solo explicaciones, información y ejemplos generales. No debes considerar este artículo como asesoramiento legal ni como recomendación sobre lo que realmente debes hacer. Te recomendamos que busques asesoría legal para entender y elaborar tu política de privacidad.</p>
    </div>
</section>

{% endblock %}