{% extends "./layout/layout.html" %}
{% block content %}

<section class="sec-politic-space">
    <div class="div-space-plc">
        <div class="div-plc-part">
            <h1 class="plc-title-tm">Términos y condiciones</h1>
        </div>
    </div>
</section>
<section class="sec-descript-mk">
    <div class="div-mk-main">
        <p class="mk-paragraph">Los términos y condiciones (“Términos”) son un conjunto de términos legales definidos por el propietario de un sitio web. Establecen los términos y condiciones que regulan las actividades de los visitantes en un sitio web, así como la relación entre los visitantes del sitio y el propietario de este.
        </p>
        <p class="mk-paragraph">Los Términos deben definirse según las necesidades específicas y la naturaleza de cada sitio web. Por ejemplo, un sitio web que ofrece productos a los clientes en operaciones de comercio electrónico requiere Términos diferentes a los de un sitio web que únicamente proporciona información.    
            Los Términos proporcionan al propietario del sitio web la posibilidad de protegerse ante una posible responsabilidad legal.
        </p>
        <span class="span-mk">En general, ¿qué deben incluir los Términos y Condiciones?</span>
        <ol class="ol-mk-main">
            <li class="li-mk-item">Quién puede utilizar el sitio web y cuáles son los requisitos para crear una cuenta (en caso de ser aplicable)</li>
            <li class="li-mk-item">Principales Términos comerciales ofrecidos a los clientes</li>
            <li class="li-mk-item">Reserva del derecho a modificar ofertas</li>
            <li class="li-mk-item">Garantías y responsabilidad por los servicios y productos</li>
            <li class="li-mk-item">Propiedad intelectual, derechos de autor y logotipos</li>
            <li class="li-mk-item">Derecho a suspender o cancelar una cuenta o membresía</li>
            <li class="li-mk-item">Indemnización</li>
            <li class="li-mk-item">Limitación de responsabilidad</li>
            <li class="li-mk-item">Derecho a cambiar y modificar los Términos</li>
            <li class="li-mk-item">Preferencia de la legislación y resolución de conflictos</li>
            <li class="li-mk-item">Información de contacto</li>
        </ol>
        <span class="span-mk">Puedes consultar este <a class="mk-link" href="#">artículo de Centro de Ayuda</a> para recibir más información sobre cómo elaborar la sección de Términos y Condiciones.</span>
    </div>
</section>
<section class="sec-opt-main">
    <div class="div-opt-main">
        <p class="opt-paragraph">Las explicaciones e información que se brindan aquí son solo explicaciones, información y ejemplos generales. No debes considerar este artículo como asesoramiento legal ni como recomendación sobre lo que realmente debes hacer. Te recomendamos que busques asesoría legal para entender y elaborar tus términos y condiciones.</p>
    </div>
</section>


{% endblock %}