{% load static %}

<ul class="cont-product">
    <li class="list-prod">
        <div class="prod-item">
            <span class="offer active-offer-tag">OFERTA</span>
            <div class="div-img-prod">
                <img  class="img-prod" src="{% static 'img/laptop-list.png' %}" alt="laptop_list">
            </div>
            <span class="title-prod">JP Laptop para juegos de 15,6" de 256GB</span>
            <div class="price-div">
                <span class="price-prod active-offer">$450</span>
                <span class="price-prod">$400</span>
            </div>
        </div>
    </li>
    <li class="list-prod">
        <div class="prod-item">
            <span class="offer no-offer">OFERTA</span>
            <div class="div-img-prod">
                <img  class="img-prod" src="{% static 'img/laptop-list.png' %}" alt="laptop_list">
            </div>
            <span class="title-prod">JP Laptop para juegos de 15,6" de 256GB</span>
            <div class="price-div">
                <span class="price-prod no-offer">$450</span>
                <span class="price-prod">$400</span>
            </div>
        </div>
    </li>
    <li class="list-prod">
        <div class="prod-item">
            <span class="offer active-offer-tag">OFERTA</span>
            <div class="div-img-prod">
                <img  class="img-prod" src="{% static 'img/laptop-list.png' %}" alt="laptop_list">
            </div>
            <span class="title-prod">JP Laptop para juegos de 15,6" de 256GB</span>
            <div class="price-div">
                <span class="price-prod active-offer">$450</span>
                <span class="price-prod">$400</span>
            </div>
        </div>
    </li>
    <li class="list-prod">
        <div class="prod-item">
            <span class="offer active-offer-tag">OFERTA</span>
            <div class="div-img-prod">
                <img  class="img-prod" src="{% static 'img/laptop-list.png' %}" alt="laptop_list">
            </div>
            <span class="title-prod">JP Laptop para juegos de 15,6" de 256GB</span>
            <div class="price-div">
                <span class="price-prod active-offer">$450</span>
                <span class="price-prod">$400</span>
            </div>
        </div>
    </li>
    <li class="list-prod">
        <div class="prod-item">
            <span class="offer no-offer">OFERTA</span>
            <div class="div-img-prod">
                <img  class="img-prod" src="{% static 'img/laptop-list.png' %}" alt="laptop_list">
            </div>
            <span class="title-prod">Audífonos inalámbricos con cancelación del ruido</span>
            <div class="price-div">
                <span class="price-prod no-offer">$450</span>
                <span class="price-prod">$400</span>
            </div>
        </div>
    </li>
    <li class="list-prod">
        <div class="prod-item">
            <span class="offer active-offer-tag">OFERTA</span>
            <div class="div-img-prod">
                <img  class="img-prod" src="{% static 'img/laptop-list.png' %}" alt="laptop_list">
            </div>
            <span class="title-prod">Gafas de realidad virtual Safay GEN 2 de 256 GB con mandos táctiles</span>
            <div class="price-div">
                <span class="price-prod active-offer">$450</span>
                <span class="price-prod">$400</span>
            </div>
        </div>
    </li>
</ul>
